doctype html
html
	head
		title Hiragana and Katakana Trainer
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="./style.css")

	body
		div.main-wrapper
			div.app-wrapper

				div.start-screen-wrapper.screen-wrapper#start-screen
					div.start-screen-container.screen-container
						div.title Kana Trainer

						div.selector-container#kana-selector
							div.selector-title Kana Selector
							form
								div.selector-field.hiragana-selector
									input.selector#hiragana(type="checkbox" value="hiragana" name="hiragana")
									label.selector-label(for="hiragana") Hiragana
								div.selector-field.katakana-selector
									input.selector#katakana(type="checkbox" value="katakana" name="katakana")
									label.selector-label(for="katakana") Katakana

						div.selector-container#type-selector
							div.selector-title Training Type
							form
								div.selector-field.reading-selector
									input.selector#reading(type="checkbox" value="reading" name="reading")
									label.selector-label(for="reading") Reading
								div.selector-field.writing-selector
									input.selector#writing(type="checkbox" value="writing" name="writing")
									label.selector-label(for="writing") Writing

						div#start-button Start

				div.reading-training-wrapper.screen-wrapper#reading-training
					div.reading-training-container.screen-container
						div.training-title.screen-title Reading Training
						div.training-progress-container
							div.training-progress-bar#reading-progress-bar
							div.training-progress#reading-training-progress
						div.kana-display#reading-kana-display
						div.kana-answer#reading-kana-answer Incorrect
						input(type="text" name="answer")#reading-answer-input
						input(type="submit" value="Submit" name="submit")#reading-answer-submit

				div.reading-result-wrapper.screen-wrapper#reading-result
					div.reading-result-container.screen-container
						div.screen-title Reading Training: Result
						div.result-text Your score was:
						div.result-score#result-score
						button#menu-button Menu

		script(src="./script.js")
