@mixin transform($transform) {
	-webkit-transform: $transform;
	   -moz-transform: $transform;
		-ms-transform: $transform;
			transform: $transform;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	     -o-transition: $transition;
	    	transition: $transition;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.main-wrapper {
	width: 100%;
	min-height: 100%;
}

.app-wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: 15vh;
}

$screenTransitionTime: 0.2s;

.screen-wrapper {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity $screenTransitionTime linear);

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.screen-container {
	width: 100%;
}

.start-screen {

	&-container {

		.title {
			margin-bottom: 50px;
			font-size: 36px;
		}

		.selector-container {
			margin: 30px 0;
		}

		.selector-title {
			margin-bottom: 15px;
			font-size: 24px;
		}

		.selector-field {
			margin: 7px 0;
		}

		.selector-label {
			font-size: 18px;
		}
		
		#start-button {
			display: inline-block;
			margin-top: 20px;
			padding: 10px 20px;
			font-size: 24px;
			cursor: pointer;
		}
	}
}

.reading-training {

	&-wrapper {
		background: white;
	}

	&-container {

		.training-title {
			font-size: 28px;
		}

		.training-progress-container {
			width: 40%;
			margin: 0 auto;

			@media only screen and (max-width: 480px) {
				width: 100%;
			}
		}

		.training-progress-bar {
			width: 0%;
			height: 5px;
			margin-top: 30px;
			margin-bottom: 20px;
			background: black;
			@include transition(all 0.2s ease-out);
		}

		.kana-display {
			font-size: 160px;
		}

		.kana-answer {
			opacity: 0;

			&.show-wrong {
				opacity: 1;
			}
		}
	}
}
