@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700');

@mixin transform($transform) {
	-webkit-transform: $transform;
	   -moz-transform: $transform;
		-ms-transform: $transform;
			transform: $transform;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	     -o-transition: $transition;
	    	transition: $transition;
}

@mixin user-select($user-select) {
	-webkit-touch-callout: $user-select; /* iOS Safari */
	  -webkit-user-select: $user-select; /* Safari */
	   -khtml-user-select: $user-select; /* Konqueror HTML */
		 -moz-user-select: $user-select; /* Firefox */
		  -ms-user-select: $user-select; /* Internet Explorer/Edge */
		  	  user-select: $user-select; /* Non-prefixed version, currently
											supported by Chrome and Opera */
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
}

button, input {
	font-family: inherit;
	-webkit-appearance: none; // Gets rid of box shadow on iOS
	outline: none; // Gets rid of Chrome focus border
}

.main-wrapper {
	width: 100%;
	min-height: 100%;
}

.app-wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: 10vh;

	@media only screen and (max-height: 640px) {
		padding-top: 5vh;
	}
}

$screenTransitionTime: 0.2s;
$highlightColor: #0059c8;

.screen-wrapper {
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity $screenTransitionTime linear);

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

.screen-container {
	width: 100%;
}

.screen-title {
	font-size: 36px;
	color: rgb(90, 90, 90);
}

.menu-button-container {
	margin-top: 0.6em;
	margin-bottom: 1em;
}

.menu-button {
	padding: 5px 10px;
	font-size: 18px;
	color: $highlightColor;
	cursor: pointer;
	@include transition(all 0.2s ease-out);

	body.hover-enable &:hover {
		color: rgba($highlightColor, 0.6)
	}
}

.start-screen {

	&-container {

		.title {
			margin-bottom: 0.7em;
			font-size: 48px;
			font-weight: 200;
			color: rgb(90, 90, 90);
		}

		.selector-container {
			margin: 30px 0;
		}

		.selector-title {
			display: inline-block;
			margin-bottom: 15px;
			padding-bottom: 7px;
			font-size: 28px;
			color: rgb(50, 50, 50);
			border-bottom: 2px rgb(50, 50, 50) solid;
		}

		.selector-field {
			margin: 7px 0;

			.selector {
				opacity: 0;
				position: absolute;

				&:checked + .selector-label {
					border: 2px $highlightColor solid;
					color: $highlightColor;
				}
			}
		}

		.selector-field * {
			cursor: pointer;
		}

		.selector-label {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			padding: 5px 7px;
			color: rgb(130, 130, 130);
			border: 2px rgb(150, 150, 150) solid;
			font-size: 20px;
			@include transition(all 0.2s ease-out);
		}

		.writing-selector .selector-label {
			background: rgb(210, 210, 210);
		}
		
		#start-button {
			display: inline-block;
			margin-top: 20px;
			padding: 7px 15px;
			font-size: 28px;
			color: $highlightColor;
			border: 2px $highlightColor solid;
			cursor: pointer;
			@include transition(all 0.2s ease-out);

			body.hover-enable &:hover {
				background: $highlightColor;
				color: white;
			}
		}
	}
}

.reading-training {

	&-wrapper {
		background: white;
	}

	&-container {

		.training-progress-container {
			position: relative;
			width: 40%;
			margin: 0 auto;
			margin-top: 2em;
			background: transparent;

			@media only screen and (max-width: 480px) {
				width: 100%;
			}
		}

		.training-progress-bar {
			position: absolute;
			top: 0;
			left: 0;
			width: 0%;
			height: 5px;
			background: #0059c8;
			border-radius: 20px;
			@include transition(all 0.2s ease-out);
		}

		.training-full-progress {
			top: 0;
			left: 0;
			z-index: -100;
			width: 100%;
			height: 5px;
			margin-bottom: 10px;
			background: #c5d0de;
			border-radius: 20px;
		}

		.training-progress {
			font-size: 20px;
			color: rgb(50, 50, 50);
			color: $highlightColor;
		}

		.skip-button-container {
			margin-top: 0.5em;
			margin-bottom: 0.7em;
		}

		.skip-button {
			padding: 10px 10px;
			background: transparent;
			color: rgb(100, 100, 100);
			font-size: 18px;
			border: none;
			cursor: pointer;
			@include transition(all 0.2s ease-out);
			@include user-select(none);

			body.hover-enable &:hover {
				color: rgba(100, 100, 100, 0.6);
			}
		}

		.kana-display {
			font-family: 'MS PGothic', Osaka, Arial, sans-serif;
			font-size: 160px;
			color: rgb(50, 50, 50);
		}

		.kana-answer {
			opacity: 0;
			margin-bottom: 0.2em;
			color: #de2626;
			@include transition(all 0.2s ease-out);

			&.show-wrong {
				opacity: 1;
			}
		}

		.submission-container {
			margin-bottom: 20px;
		}

		.answer-input {
			background: transparent;
			font-size: 18px;
			color: $highlightColor;
			text-align: center;
			border: none;
			border-radius: 0;
			border-bottom: 2px $highlightColor solid;
		}

		.submit-button-container {
			margin-top: 1.5em;
		}

		.submit-button {
			background: transparent;
			font-size: 20px;
			padding: 5px 10px;
			color: $highlightColor;
			border: none;
			border-radius: 0;
			border: 2px $highlightColor solid;
			cursor: pointer;
			@include transition(all 0.2s ease-out);

			body.hover-enable &:hover {
				background: $highlightColor;
				color: white;
			}
		}
	}
}

.reading-result {

	&-container {

		.result-container {
			margin-top: 2em;
		}

		.result-text {
			font-size: 24px;
			color: rgb(50, 50, 50);
		}

		.result-percentage {
			font-size: 100px;
			color: $highlightColor;
		}

		.result-score {
			font-size: 24px;
			color: $highlightColor;
		}

		.wrong-answers-container {
			margin-top: 2em;
		}

		.correction-container {
			display: inline-block;
			margin: 0 5px;
		}	

		.wrong-answers-title {
			font-size: 20px;
			color: rgb(50, 50, 50);
		}

		.wrong-answers-list {
			margin-top: 1em;
			color: $highlightColor;
		}

		.correction-container {
			padding: 5px 5px;
			margin-bottom: 0.5em;
			border: 1px rgb(200, 200, 200) solid;
		}

		.correct-character {
			font-family: 'MS PGothic', Osaka, Arial, sans-serif;
			font-size: 24px;
			padding-bottom: 2px;
			border-bottom: 1px rgb(200, 200, 200) solid;
		}
		
		.correct-reading {
			font-size: 20px;
		}
	}
}
