@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700");
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300; }

button, input {
  font-family: inherit;
  -webkit-appearance: none;
  outline: none; }

.main-wrapper {
  width: 100%;
  min-height: 100%; }

.app-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 10vh; }
  @media only screen and (max-height: 640px) {
    .app-wrapper {
      padding-top: 5vh; } }

.screen-wrapper {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .screen-wrapper.show {
    opacity: 1;
    visibility: visible; }

.screen-container {
  width: 100%; }

.screen-title {
  font-size: 36px;
  color: #5a5a5a; }

.menu-button-container {
  margin-top: 0.6em;
  margin-bottom: 1em; }

.menu-button {
  padding: 5px 10px;
  font-size: 18px;
  color: #0059c8;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  body.hover-enable .menu-button:hover {
    color: rgba(0, 89, 200, 0.6); }

.start-screen-container .title {
  margin-bottom: 0.7em;
  font-size: 48px;
  font-weight: 200;
  color: #5a5a5a; }
.start-screen-container .selector-container {
  margin: 30px 0; }
.start-screen-container .selector-title {
  display: inline-block;
  margin-bottom: 15px;
  padding-bottom: 7px;
  font-size: 28px;
  color: #323232;
  border-bottom: 2px #323232 solid; }
.start-screen-container .selector-field {
  margin: 7px 0; }
  .start-screen-container .selector-field .selector {
    opacity: 0;
    position: absolute; }
    .start-screen-container .selector-field .selector:checked + .selector-label {
      border: 2px #0059c8 solid;
      color: #0059c8; }
.start-screen-container .selector-field * {
  cursor: pointer; }
.start-screen-container .selector-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 7px;
  color: #828282;
  border: 2px #969696 solid;
  font-size: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
.start-screen-container .writing-selector .selector-label {
  background: #d2d2d2; }
.start-screen-container #start-button {
  display: inline-block;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 28px;
  color: #0059c8;
  border: 2px #0059c8 solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  body.hover-enable .start-screen-container #start-button:hover {
    background: #0059c8;
    color: white; }

.reading-training-wrapper {
  background: white; }
.reading-training-container .training-progress-container {
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-top: 2em;
  background: transparent; }
  @media only screen and (max-width: 480px) {
    .reading-training-container .training-progress-container {
      width: 100%; } }
.reading-training-container .training-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: #0059c8;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
.reading-training-container .training-full-progress {
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  background: #c5d0de;
  border-radius: 20px; }
.reading-training-container .training-progress {
  font-size: 20px;
  color: #323232;
  color: #0059c8; }
.reading-training-container .skip-button-container {
  margin-top: 0.5em;
  margin-bottom: 0.7em; }
.reading-training-container .skip-button {
  padding: 10px 10px;
  background: transparent;
  color: #646464;
  font-size: 18px;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  body.hover-enable .reading-training-container .skip-button:hover {
    color: rgba(100, 100, 100, 0.6); }
.reading-training-container .kana-display {
  font-size: 160px;
  color: #323232; }
.reading-training-container .kana-answer {
  opacity: 0;
  margin-bottom: 0.2em;
  color: #de2626;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .reading-training-container .kana-answer.show-wrong {
    opacity: 1; }
.reading-training-container .submission-container {
  margin-bottom: 20px; }
.reading-training-container .answer-input {
  background: transparent;
  font-size: 18px;
  color: #0059c8;
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom: 2px #0059c8 solid; }
.reading-training-container .submit-button-container {
  margin-top: 1.5em; }
.reading-training-container .submit-button {
  background: transparent;
  font-size: 20px;
  padding: 5px 10px;
  color: #0059c8;
  border: none;
  border-radius: 0;
  border: 2px #0059c8 solid;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  body.hover-enable .reading-training-container .submit-button:hover {
    background: #0059c8;
    color: white; }

.reading-result-container .result-container {
  margin-top: 2em; }
.reading-result-container .result-text {
  font-size: 24px;
  color: #323232; }
.reading-result-container .result-percentage {
  font-size: 100px;
  color: #0059c8; }
.reading-result-container .result-score {
  font-size: 24px;
  color: #0059c8; }
.reading-result-container .wrong-answers-container {
  margin-top: 2em; }
.reading-result-container .correction-container {
  display: inline-block;
  margin: 0 5px; }
.reading-result-container .wrong-answers-title {
  font-size: 20px;
  color: #323232; }
.reading-result-container .wrong-answers-list {
  margin-top: 1em;
  color: #0059c8; }
.reading-result-container .correction-container {
  padding: 5px 5px;
  margin-bottom: 0.5em;
  border: 1px #c8c8c8 solid; }
.reading-result-container .correct-character {
  font-size: 24px;
  padding-bottom: 2px;
  border-bottom: 1px #c8c8c8 solid; }
.reading-result-container .correct-reading {
  font-size: 20px; }

/*# sourceMappingURL=style.css.map */
